.twitter-typeahead input.tt-hint {
	opacity: 0.5 !important;
}
.twitter-typeahead .tt-menu {
	display: block;
	padding: 10px;
	margin: 10px 10px 0 -10px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.twitter-typeahead .tt-dataset {
	min-width: 150px;
}
.twitter-typeahead .tt-suggestion {
	width: 100%;
	padding: 2px 10px;
	border: 1px solid #f5f5f5;
	border-radius: 2px;
}
.twitter-typeahead .tt-cursor {
	color: #f5f5f5;
	background-color: #286090;
	border: 1px solid #204d74;
	border-radius: 2px;
}
